form#replication-manager-jobs-list table tr.job-details td,
form#replication-manager-connections-list table tr.connection-details td {}

form#replication-manager-jobs-list table td.job-status,
form#replication-manager-connections-list table td.connection-status {
  background: transparent url(../imgs/connection-unknown.png) center center no-repeat;
  min-height: 26px;
  width: 20px;
}

form#replication-manager-jobs-list table td.job-name,
form#replication-manager-connections-list table td.connection-name {
  border-right: 1px solid #DDD;
  vertical-align: middle;
}

form#replication-manager-jobs-list table td.job-jobtype,
form#replication-manager-connections-list table td.connection-dbtype {
  width: 150px;
}

form#replication-manager-connections-list table td.connection-host {}

form#replication-manager-connections-list table td.connection-table-prefix {
  width: 80px;
}

form#replication-manager-connections-list table td.connection-uname {
  width: 100px;
}

form#replication-manager-connections-list table td.connection-pword {
  width: 100px;
}

form#replication-manager-jobs-list table td.job-ops,
form#replication-manager-connections-list table td.connection-ops {
  width: 150px;
}

form#replication-manager-jobs-list table tr.job-description td,
form#replication-manager-connections-list table tr.connection-description td {}

form#replication-manager-jobs-list table td.job-status-ok,
form#replication-manager-connections-list table td.connection-status-ok {
  background-image: url(../imgs/connection-ok.png);
}

form#replication-manager-jobs-list table td.job-status-error,
form#replication-manager-connections-list table td.connection-status-error {
  background-image: url(../imgs/connection-error.png);
}

form#replication-manager-jobs-list table tr:hover,
form#replication-manager-connections-list table tr:hover {
  background-color: #D4E7F3;
}

